body{
    background-image: url(/../../img/fundo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
   
}

.card{
    width: 250px;
    margin: 15px;
    font-size: 16px;
    display: inline-flex;
    max-width: 300px;
    border: outset red;
    box-shadow: 3px 3px rgb(209, 209, 209);
    margin-right: 20px;
    margin-left: 40px;
}

.list-group-item{
   
    color: black;
}


.card-link{

    border-radius: 8px;
    color:rgb(0, 0, 0);
    padding: 2px;
    text-decoration: none;
    display: inline-block;
    transition: background .4s;
}

.card-link:hover{
    background-color: rgb(223, 6, 6);
}

.card img{
    height: 244px;
    width:  244px;
    object-fit: contain;
}



#resposta{
    font-family: 'Courier New', Courier, monospace;
    font-size: larger;
    color: #ffffff;
}

 .card-text{
   
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size:medium;
}

.h5 p{
   
    background-color: aliceblue;
}