body{
    background-image: url(/../../img/fundo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
   
}

.card{
    width: 250px;
    margin: 15px;
    font-size: 16px;
    display: inline-flex;
    max-width: 300px;
    border: solid;
    box-shadow: 3px 3px black;
    margin-right: 20px;
    margin-left: 40px;
}

.list-group-item{
    color: black;
}

.card-link{
    color:darkcyan;
    text-decoration:none;
}

.card img{
    height: 244px;
    width:  244px;
    object-fit: contain;
}



#resposta{
    font-family: 'Courier New', Courier, monospace;
    font-size: larger;
    color: #ffffff;
}

