.card{
    width: 250px;
    margin: 15px;
    font-size: 16px;
    display: inline-flex;
    max-width: 300px;
    border: solid;
    box-shadow: 3px 3px black;
}

.list-group-item{
    color: black;
}

.card-link{
    color:darkcyan;
    text-decoration:none;
}

.card img{
    height: 244px;
    width:  244px;
    object-fit: contain;
}




